@import '../styles/variables';

.intro {
  padding-bottom: 80px;
}

.intro-bar {
  text-align: center;
  padding: 60px 0 130px 0;
  background-color: $call-to-action-color;
  display: flex;
  justify-content: center;
}

.intro-bar-text {
  color: #fff;
  width: 70%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.intro-cards {
  margin: -80px auto 0 auto;
  width: 70%;
  border: 1px #E6ECF8 solid;
  z-index: 1000;
  border-radius: 8px;
  display: flex;
  background-color: #E9ECF5;
}

.intro-card {
  width: 33.33%;
  border-right: 1px #e1e2e2 solid;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.icon-holder {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card-bullets {
  text-align: center;
  padding: 20px;
}

.intro-card:last-child {
  border-right: none;
}

/* Media Query for Smaller Screens */
@media (max-width: 992px) {
  .intro-cards {
    flex-direction: column; /* Stack the cards vertically */
    width: 70%; /* Use more screen space */
    background-color: #fff;
    border: none;
  }

  .intro-card {
    width: 100%; /* Full width for each card */
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 20px;
    border: 1px solid #E6ECF8;
    background-color: #E9ECF5;
  }

  .intro-card:last-child {
    border-bottom: none; /* Remove bottom border for the last card */
    margin-bottom: 0;
  }

  .icon-holder {
    margin-bottom: 15px; /* Add spacing between icon and content */
  }

  .card-bullets {
    text-align: center; /* Align bullets to the left for smaller screens */
  }
}

@media (max-width: 768px) {
  .intro-cards {
    flex-direction: column; /* Stack the cards vertically */
    width: 90%; /* Use more screen space */
  }

  .intro-card {
    width: 100%; /* Full width for each card */
    border-right: none; /* No borders between stacked cards */
    border-bottom: 1px #e1e2e2 solid; /* Add bottom border */
  }

  .intro-card:last-child {
    border-bottom: none; /* Remove bottom border for the last card */
  }

  .icon-holder {
    margin-bottom: 15px; /* Add spacing between icon and content */
  }

  .card-bullets {
    text-align: center; /* Align bullets to the left for smaller screens */
  }
}
